<main>
  <app-learning-resources />

  <hr />

  <div>
    <h2>Filter your data</h2>

    <div class="filter-list">
      <span class="icon" appToggler>icon</span>
      <ul>
        <li>Order By Name</li>
        <li>Order By Price</li>
      </ul>
      <span>Filter your data</span>
    </div>
  </div>

  <hr />

  <app-auth />

  <!-- @if(isAdmin()){

  } -->
  <!-- <ng-template appAuth="admin">
    <p>only admins can show the messages</p>
  </ng-template> -->

  <p *appAuth="'admin'" class="protected-content admin">
    only admins can show the messages
  </p>
  <p *appAuth="'user'" class="protected-content">
    only admins can show the messages
  </p>
  <p *appAuth="'guest'" class="protected-content authenticated">
    only admins can show the messages
  </p>
</main>
